@import './reset.scss';
@import './variables/globals.scss';
@import './themes/dark.scss';
@import './themes/light.scss';

body {
  font-family: Inter, 'Open Sans';
  font-weight: 300;
  color: var(--inverted-color);
}

::-webkit-scrollbar {
  width: 0;
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;

  &.flex1 {
    flex: 1;
  }

  @media (max-width: 560px) {
    padding: 0 20px;
  }
}

ul {
  list-style-type: none;
  li {
    padding-left: 20px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 13px;
      background: var(--inverted-color);
      width: 5px;
      height: 5px;
      border-radius: 50%;
    }
  }
  
  @media (max-width: 1200px) {
    li:before {
      top: 11px;
    }
  }

  @media (max-width: 460px) {
    li:before {
      top: 10px;
    }
  }
}

// Typography
h1 {
  text-align: center;
  margin-bottom: 40px;
  position: relative;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 900;
  color: var(--inverted-color);

  @media (max-width: 1100px) {
    font-size: 80px;
  }

  @media (max-width: 760px) {
    font-size: 60px;
    margin-bottom: 30px;
  }

  @media (max-width: 560px) {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

h2 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 50px;
  line-height: 1;
  
  @media (max-width: 1100px) {
    font-size: 50px;
    margin-bottom: 35px;
  }

  @media (max-width: 760px) {
    font-size: 40px;
    margin-bottom: 25px;
  }

  @media (max-width: 560px) {
    font-size: 35px;
  }
}

h3 {
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 20px;
  margin-bottom: .6em;

  @media (max-width: 1100px) {
    font-size: 24px;
    // margin-bottom: 15px;
  }
}

h4 {
  font-size: 24px;
  font-weight: 400;
}

h1, h2, h3, h4 {
  span {
    color: var(--primary-color);
  }

  &.pink span {
    color: var(--secondary-color);
  }
}