.ThemeSwitcher {
  cursor: pointer;
  padding: 5px 7px;
  border-radius: 60px;
  border: 1px solid var(--theme-border-color);
  background: var(--theme-bg);
  display: flex;
  align-items: center;
  transition: .2s;

  > div {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
  }

  svg {
    width: 28px;
    height: 28px;
    stroke-width: 1.5px;
  }

  &:hover {
    background: var(--theme-bg-hover);
    box-shadow: var(--theme-shadow);
  }
}

