:root {
  --primary-color: #00C2FF;
  --primary-color-10: rgb(0, 194, 255, .1);
  --primary-color-50: rgb(0, 194, 255, .5);
  --secondary-color: #EC5AF7;
  --secondary-color-50: rgb(236, 90, 247, .5);
  --green-color: #00FF66;
  --green-color-10: rgb(0, 255, 102, .1);
  --green-color-50: rgb(0, 255, 102, .5);
}