.ContactsTabs {
  display: flex;
  grid-gap: 100px;
  justify-content: center;  
  align-items: center;
  padding-top: 40px;

  @media (max-width: 1100px) {
    grid-gap: 60px;
    padding-top: 30px;
  }

  @media (max-width: 760px) {
    grid-gap: 30px;
  }

  @media (max-width: 560px) {
    grid-gap: 20px;
    padding-top: 20px;
  }
}