.LinkButton {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--primary-color-10);
  background: transparent;
  cursor: pointer;
  position: relative;
  transition: .2s;

  &:hover {
    background: #0A1826;
  }

  @media (max-width: 760px) {
    width: 34px;
    height: 34px;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}
