.skills__info-item {
  width: 45%;

  ul {
    width: 100%;
    opacity: .8;

    li {
      margin-bottom: 10px;
      &:before {
        top: 8px;
        opacity: .3;
      }
    }
  }

  @media (max-width: 760px) {
    width: 100%;
    
    ul {
      font-size: 14px;
      
      li:before { top: 7px;}
    }
  }
}

.skills__info-icons {
  height: 61px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  svg, img {
    margin-right: 15px;
  }
}

.skills-title__wrap {
  display: flex;
  grid-gap: 10px;
  align-items: center;
  margin-bottom: 30px;

  @media (max-width: 760px) {
    margin-bottom: 20px;
  }
}

.test_icon {
  width: 30px;
  height: 30px;
  
  path, line, polyline {
    transition: stroke 0.2s;
    stroke-width: 2.5;
    stroke: #22444e;
    fill: none;
  }
}