.ContactsPage {
  padding-bottom: 130px;
  min-height: 100vh;
}

.contacts__link {
  display: flex;
  justify-content: center;
  font-size: 26px;
  font-weight: 400;
  color: #fff;
  margin-top: 100px;
  animation: fadeIn 1s forwards;
}
@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}
