.app_dark_theme {
  --bg-color: #060d14;
  --bg-color-90: rgb(6, 13, 20, .9);
  --bg-color-80: rgb(6, 13, 20, .8);
  --bg-color-0: rgb(6, 13, 20, 0);
  color: #fff;
}


.dark-path {
  fill: var(--primary-color);
}

.light-circle, .light-line {
  opacity: .5;
  fill: transparent;
  stroke: var(--primary-color);
}

h1 {
  color: #fff;
}