.app_dark_theme {
  --bg-color: #060D14;
  color: #fff;
}


.dark-path {
  fill: var(--primary-color);
}

.light-circle, .light-line {
  opacity: .5;
  fill: transparent;
  stroke: var(--primary-color);
}

h1 {
  color: #fff;
}